<!DOCTYPE html>
<html>
  <head>
    <title>Chatroom</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
  <img id="AIM" src="/pidgin2.png" alt="AIM">
    <%= yield %>
  <img id="msg" src="/aim-chat.gif" alt="msg">
  <div id="sound">
    dkd
  </div>
<audio id="ding" src="/imrcv.wav"></audio> 
  <img id="bar" src="/windows_95_by_clutch.jpg">
  </body>
</html>
